---
import { twMerge } from 'tailwind-merge'
type Props = {
	title: string
	className?: string
}

const { title, className } = Astro.props
---

<html lang="zh-tw" data-theme="cupcake">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
	</head>
	<body
		class={twMerge(
			'min-h-screen flex flex-col justify-center items-center font-sans text-gray-900 w-screen',
			className,
		)}
	>
		<slot />
	</body>
</html>
